body {
  background-color: #efefef;
  background-image: url('/img/bg-main.png');
}

div#wrapper {
  margin: auto;
  float: right;
  right: 50%;
  position: relative;
}
a img {
  border: none;
}

div.card {
  background: url('/img/orestes.jpg') -400px -300px no-repeat;
  float: right;
  right: -50%;
  position: relative;
  margin: 2em auto 0 auto;
  display: inline-block;
  font-size: 0.9em;
  font-family: Calibri, 'Droid Sans';
  color: black;
  background-color: white;
  border: 1px solid silver;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px #ddd;
}

div.card div.top  {
  padding: 1em;
}

div.intro {
  padding: 0 1em 0 1em;
  max-width: 320px;
  color: #444;
}

div.intro a {
  font-weight: bold;
}

div.intro p {
  margin: 0;
}

div.card div.middle  {
  padding: 0 1em 1em 1em;
}

div.card div.content {
  max-width: 22em;
}

div.card div.bottom {
  border-top: 1px solid silver;
  padding: 1em;
}

div.card div.bottom div.title {
  margin-bottom: 0.5em;
}

div.card div.bottom div.title  h3 {
  margin: 0;
  float: left;
}

div.card div.bottom div.title  abbr {
  float: right;
  margin-top: 0.1em;
}

div.twitter div.title a {
  color: white;
}
div.twitter div.title a:hover {
  color: #333;
}

div.card div.twitter  {
  color: white;
  background-color: #09c;
  background-image: url('/img/clouds.jpg');
  background-position: 0px 0px;
}

div.card div.twitter  div.content {
  background-color: transparent;
  color: #666;
  padding: 0.6em;
  border-radius: 5px;
  border: 1px solid #efefef;
  background-image: url('/img/twitter-bg.png');
}

div.card div.top div.left {
  float: left;
}

div.card div.top div.right {
  float: right;
  margin: 0;
}

div.card div.top img.avatar {
  width: 49px;
	margin-top: 0em;
	border: 1px solid silver;
	border-radius: 3px;
	cursor: pointer;
}

div.card div.left {
  float: left;
}

div.card div.right {
  margin:  0 2em 0 2em;
  float: left;
}

div.card a {
  color: #333;
  text-decoration: none;
}

div.card a:hover {
  color: #f90;
  text-decoration: underline;
}

div.card h1 {
  margin: 0;
}

div.card ul li {
  list-style-type: none;
  margin-left: -2em;
}

div.card ul li img {
  width: 16px;
}

div.card ul li a img {
  border: 0;
}