div.twitter div.title a {
  color: white;
}
div.twitter div.title a:hover {
  color: #333;
}

div.card div.twitter  {
  color: white;
  background-color: #09c;
  background-image: url('img/clouds.jpg');
  background-position: 0px 0px;
}

div.card div.twitter  div.content {
  background-color: transparent;
  color: #666;
  padding: 0.6em;
  border-radius: 5px;
  border: 1px solid #efefef;
  background-image: url('img/twitter-bg.png');
}

/* Revised */
body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: normal 100% 16px;
  background-color: #efefef;
  background-image: url('img/bg-main.png');
  color: #333;
  background-color: white;
}

div#content {
  max-width: 700px;
  margin: -15px auto 0 auto;
  font-size: 0.9em;
  border: 1px solid silver;
  border-top: 0;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #ddd;
  background-color: white;
  padding: 0.7em;
}

#header {
  float: left;
}

#avatar {
  float: right;
  margin: 0.2em 0.5em 0 0;
}

#header h1 {
  margin: 0;
}
#avatar img {
	width: 49px;
	margin-top: 0em;
	border: 1px solid silver;
	border-radius: 3px;
	cursor: pointer;
}

div#intro a {
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #f90;
  text-decoration: underline;
}

div.container {
  margin: auto;
}

div.line {
}

ul { /* outer */
  padding: 0;
}

ul ul { /* inner */
  margin: 0;
}

li li { /* outer */
  margin: 0 1em 0 1em;
}

li { /* both */
  list-style-type: none;
  float: left;
  
}

ul li ul li {
  float: none;
}

li a img {
  width: 16px;
  border: 0;
}

li h3 {
  margin: 0.5em 0 0.5em 0;
}